<h1>Editing Associate Contract</h1>

<%= render 'form' %>

<%#= link_to 'Show', @associate_contract %>
<%#= link_to 'Back', associate_contracts_path %>
<%= link_to t('.back', :default => t("helpers.links.back")),
              associate_path(@associate_contract.associate_id), :class => 'btn btn-primary'  %>
