<h1>Editing Project Picon</h1>

<%= render 'form' %>

<%#= link_to 'Show', @project_picon %> |
<%#= link_to 'Back', project_picons_path %>

<%= link_to t('.back', :default => t("helpers.links.back")),
              projects_path, :class => 'btn btn-default'  %>
