<h1>Editing Project Prevcontract</h1>

<%= render 'form' %>

<%#= link_to 'Show', @project_prevcontract %> |
<%#= link_to 'Back', project_prevcontracts_path %>
<%= link_to t('.back', :default => t("helpers.links.back")),
              @project_prevcontract.project, :class => 'btn btn-default'  %>