<h1>Editing Associate Direct Deposit</h1>

<%= render 'form' %>

<%#= link_to 'Show', @associate_direct_deposit %>
<%#= link_to 'Back', associate_direct_deposits_path %>
<%= link_to t('.back', :default => t("helpers.links.back")),
              associate_path(@associate_direct_deposit.associate_id), :class => 'btn btn-primary'  %>
