<h1>Editing Associate Resume</h1>

<%= render 'form' %>

<%#= link_to 'Show', @associate_resume %>
<%#= link_to 'Back', associate_resumes_path %>
<%= link_to t('.back', :default => t("helpers.links.back")),
              associates_path, :class => 'btn btn-default'  %>
