<h1>Editing Associate Drivers License</h1>

<%= render 'form' %>

<%#= link_to 'Show', @associate_drivers_license %>
<%#= link_to 'Back', associate_drivers_licenses_path %>
<%= link_to t('.back', :default => t("helpers.links.back")),
              associates_path, :class => 'btn btn-default'  %>
