<h1>Editing Project Pcontract</h1>

<%= render 'form' %>

<%#= link_to 'Show', @project_pcontract %> |
<%#= link_to 'Back', project_pcontracts_path %>
<%= link_to t('.back', :default => t("helpers.links.back")),
              @project_pcontract.project, :class => 'btn btn-default'  %>
