<h1>Editing Project Pw9</h1>

<%= render 'form' %>

<%#= link_to 'Show', @project_pw9 %> |
<%#= link_to 'Back', project_pw9s_path %>
<%= link_to t('.back', :default => t("helpers.links.back")),
              @project_pw9.project, :class => 'btn btn-default'  %>