<h1>Editing Associate Greeby Resume</h1>

<%= render 'form' %>

<%#= link_to 'Show', @associate_gresume %>
<%#= link_to 'Back', associate_gresumes_path %>
<%= link_to t('.back', :default => t("helpers.links.back")),
              associate_path(@associate_gresume.associate_id), :class => 'btn btn-primary'  %>
