<h1>Editing Associate Gresume</h1>

<%= render 'form' %>

<%#= link_to 'Show', @associate_gresume %>
<%#= link_to 'Back', associate_gresumes_path %>
<%= link_to t('.back', :default => t("helpers.links.back")),
              associates_path, :class => 'btn btn-default'  %>
