.user-name {
padding: 0 !important ;
padding-left: 5px;
padding-top: 15px !important;
text-align: center;
a {
color: #428bca !important;
margin: 0 !important;
padding: 5px!important;
}
a:hover, a:focus {
color: #000 !important;
}
}

.logout {
padding-left: 0;
}
.nav.navbar-right {
padding-bottom: 10px;
padding-top: 5px;
}
.nav.navbar-nav {
.navbar-link {
border-radius: 5px;
color: #fff;
margin-top: 15px;
padding: 8px;
}
.navbar-link:focus, .navbar-link:hover {
background: #3071a9;
color: #fff;
}
li a {
margin-right: 5px;
}
}
.nav.navbar-right li {
.btn {
color: #fff !important;
margin-top: 5%;
}
.btn-danger:hover, .btn-danger:focus {
background-color: darken(#d9534f,20%) !important;
}
.btn-primary:hover, .btn-primary:focus {
background-color: darken(#428bca,20%) !important;
}
}
.btn-primary:visited, .btn-danger:visited {
color: #fff;
}

.field_with_errors {
    padding: 0px !important;
    background-color: red !important;
    color: red  !important;
    display: inline !important;
}

.check-align-left {
    text-align:left;
    float:left;
}

.jumbotron {
background-image: asset-url('associatesmain.png');
background-size: 100% auto;
background-repeat: no-repeat;
background-color: #fff !important;
color: #fff;
font-family: 'Helvetica Neue' !important;
font-stretch: expanded;
padding-top: 225px;
padding-bottom: 225px;
margin-left: 15px;
margin-right: 15px;
text-shadow: -1px 0 #555, 0 1px #555, 1px 0 #555, 0 -1px #555;
min-height: 664px;
}

.jumbotron h1 {text-align: center;}
.btn {margin-bottom: 10px;}
.collection-check-box-altered {float: left;margin-right: 10px;}
.collection-check-box-altered label {width: 28px;margin-top:6px;}

.collection-check-box-alt {float: left;margin-right: 20px;}
.collection-check-box-alt label {width: 40px; height: 100%; margin: 10px 0 10px 0;}
.collection-check-box-alt input[type="checkbox"] { margin: 0; height: 20px; width: 20px; }

.collection-check-box-projects {float: left;margin-right: 20px;}
.collection-check-box-projects label {height: 100%; margin: 10px 0 10px 0;}
.collection-check-box-projects input[type="checkbox"] { margin: 0; height: 20px; width: 20px; }

.collection-check-box-associates {float: left;margin-right: 20px;}
.collection-check-box-associates label {height: 100%; margin: 10px 0 10px 0;}
.collection-check-box-associates input[type="checkbox"] { margin: 0; height: 20px; width: 20px; }

.show1 {font-size:20pt;font-weight: bold;margin-bottom:10px;}
.show2 {font-size:16pt;margin-bottom:10px}
.show3 {font-size:12pt;margin-bottom:10px}

.form-control-altered, #q_wrklocs_id_in_any, #q_status_cont, #q_active_eq {
display: block;
    //width: 60px;
    height: 34px;
    padding: 6px 8px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

#q_wrklocs_id_in_any {
    float:left;margin-right:20px;
}

.show3 table tr td {
    font-size:12pt;
    margin-bottom:10px;
    line-height:18pt;
}

.counts h1 {
    text-align:right;
    font-size:16pt;
    line-height:20pt;
    margin-top:2pt;
    margin-bottom:4pt;
    /*font-weight:bold;*/
    z-index:100;
}

.countsleft h1 {
    text-align:left;
    font-size:16pt;
    line-height:20pt;
    margin-top:2pt;
    margin-bottom:4pt;
    /*font-weight:bold;*/
    z-index:100;
}


a, a:visited {
    color:#333;
}
a:hover {
    color:#fff;
}


.navbar-brand {
    float: left;
    padding: 8px 15px;
    font-size: 18px;
    line-height: 20px;
    height: 50px;
}

.form-control-image {
    vertical-align: top;
    height:18pt;
    margin-top:0;
    margin-bottom:0;    
    border-radius:4px;
    margin-right:4px;
}

.form-control-button {
    vertical-align: top;
    font-size:20pt;
    line-height:18pt;
    margin-top:0;
    margin-bottom:0;
    margin-right:4px;
}

a.stay-black, a.stay-black:visited {
    color:#000;
}

a.stay-black:hover {
    color:#000;
    background:none;
    background-color:none;
}

td > a:hover, td > a:visited {
    color:#000;
    background:none !important;
    background-color:none !important;
}